{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
{% endblock css %} {% block main%}
<div class="home-container">
  <div class="card">
    <div class="content">
      <div class="card-header">01</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="card-header">02</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="card-header">03</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk
          of the card's content.
          <a href="#">Read More</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
{% block JavaScript %}
<script type="text/javascript" src="../../static/vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card"), {
  max: 25,
  speed: 400,
  glare: true,
  "max-glare":1,
});
</script>
{% endblock JavaScript %}
