{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
{% endblock css %}
{% block main%}
<div class="blogContainer">
    <div class="blogContents">
    {% for post in allPost %}
    <ul>
        <li>{{post.title}}</li>
    </ul>
    {% endfor %}
    </div>
    <div class="blogArticles">
    {% for post in allPost %}
        <div class="Articleheading">
        {{post.title}}
        </div>
        <div class="ArticleAuthor">
        {{post.author}} {{post.timeStamp}} 
        </div>
        <div class="Article">
        {{post.contents}}
        </div>
    {% endfor %}
    </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
</div>
{% endblock main %}