{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
{% endblock css %}
{% block main%}
<div class="blogContainer">
    <div class="blogContents">
    This is Blog Contents
    </div>
    <div class="blogArticles">
        <div class="Articleheading">
        This is Atricle Heading
        </div>
        <div class="ArticleAuthor">
        Here Author Name and Date posted
        </div>
        <div class="Article">
        Here Article Post
    </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
        </div>
</div>
{% endblock main %}